* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    min-height: 100vh;
}

body {
    background-color: rgb(238, 238, 238);
    margin: 0;
    min-height: 100vh;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 350px;
    max-height: 350px;
    margin: 50px 0;
}

.information {
    margin: 0 auto;
    max-width: 500px;
}

.information p {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    font-size: 1.1em;
    color: #003F70;
    font-weight: bold;
    line-height: 25px;
}

.container-center {
    margin: 0 auto 56px auto;
    max-width: 500px;
    background-color: #fff;
    box-shadow: 0 0 0.8em rgb(223, 222, 222);
    border-radius: 8px;
    padding: 40px;
}

.title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.1em;
    font-weight: 400;
    color: rgb(114, 114, 116);
    display: inline-block;
}

.input {
    background-color: rgb(238, 238, 238);
    height: 45px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: solid 1px transparent;
}

.input-box {
    margin-bottom: 10px;
}

.error {
    color: firebrick;
    font-weight: 200;
    font-size: 0.8em;
}

.input input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 10px;
    background-color: rgb(238, 238, 238);
    border-radius: 8px;
}

.input i {
    color: #003F70;
    padding: 0 10px;
}

.confirm {
    margin-top: 30px;
    width: 100%;
    background-color: #8AC04B;
    border: none;
    outline: none;
    border-radius: 8px;
    height: 50px;
    cursor: pointer;
    color: #fff;
    font-size: 1.1em;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm i {
    padding: 10px;
}

.confirm:hover {
    transition: 1s;
    background-color: #89c04bb4;
}

footer {
    height: 35px;
    width: 100%;
    background-color: #003F70;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: #fff;
    font-size: 0.8em;
}

@media (max-width: 545px) {
    .container-center {
        width: 450px;
    }
    .information {
        width: 430px;
    }
}

@media (max-width: 490px) {
    .container-center {
        width: 400px;
    }
    .information {
        width: 380px;
    }
    .logo img {
        width: 300px;
    }
}

@media (max-width: 430px) {
    .container-center {
        width: 350px;
    }
    .information {
        width: 340px;
    }
    .logo img {
        width: 280px;
    }
}