* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(238, 238, 238);
    margin: 0;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 350px;
    margin: 50px 0;
}

.information {
    margin: 0 auto;
    max-width: 500px;
}

.information p {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    font-size: 1.1em;
    color: #003E6E;
    font-weight: bold;
    line-height: 25px;
}

.container-center {
    margin: 0 auto 50px auto;
    max-width: 500px;
    height: 510px;
    background-color: #fff;
    box-shadow: 0 0 0.8em rgb(223, 222, 222);
    border-radius: 8px;
    padding: 40px;
}

.title {
    margin-bottom: 10px;
    font-size: 1.1em;
    font-weight: 400;
}

.input {
    background-color: rgb(238, 238, 238);
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 20px;
}

.input input {
    width: 100%;
    outline: none;
    border: none;
    padding: 10px;
    background-color: rgb(238, 238, 238);
    border-radius: 8px;
}

.input i {
    color: #003E6E;
    padding: 0 10px;
}

.confirm {
    margin-top: 10px;
    width: 100%;
    background-color: #8AC04B;
    border: none;
    outline: none;
    border-radius: 8px;
    height: 50px;
    cursor: pointer;
    color: #fff;
    font-size: 1.1em;
    font-weight: 400;
}

.confirm i {
    padding: 10px;
}

.confirm:hover {
    transition: 1s;
    background-color: #89c04bb4;
}